.vs/
ipch/
*.sdf
*.VC.db
*.dbmdl
*.user
*.suo
*.cache
*.log

Debug/
Release/
x64/
x86/
*.obj
*.exe
*.pdb
*.idb
*.ilk
*.pch
*.aps
*.ncb
*.tlog
*.lastbuildstate
*.tmp
*.ipch

*~
*.bak

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.opensdf
*.vcxproj.user
*.VC.opendb
*.rsp
*.log
